/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto'   !important;
    color: #eee;
}

body{
   width: 100%;
   height: 100%;
   background: url(../images/b11.jpg) no-repeat center fixed;
   background-size: cover;
}

section{
    padding: 6rem 16rem;
}
a{
    text-decoration: none;
    color: #eee;

}

P{
    font-size: 1.8rem;
    font-weight: 300;
    font-family: 'Roboto' sans-serif ;
}

img{
    width: 100%;
}

/* GLOBAL END */

/* START REUSEABLE */
.container{
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.section-heading
{
    text-align: center;
    margin-bottom: 10rem;
}

.section-heading h1{
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.3);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after{
    content: ' ';
    position: absolute;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255,0.75);
   
}

.section-heading h1::before{
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
}

.section-heading h1::after{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    bottom: -1rem;
}
.section-heading h6{
    font-size: 1.6rem;
    font-weight: 300;
   
}
.has-margin-right
{
    margin-right: 5rem;
}


/* END REUSEABLE */

/* HEADER START*/
header{
    width: 100%;
    height: 100vh;
}

.top-nav
{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    z-index: 50;
    background-image:url('../images/11.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition:  all 650ms cubic-bezier(1,0,0,1);
}

.nav-list{
    list-style: none;
    width: 100%;
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

li{
    margin: 0 2rem;
}

.nav-link
{
    font-family: "The Historia Demo", sans-serif;
    font-size: 5em;
    padding: 1rem;
}

.nav-link:hover,
.nav-link:focus{
background: linear-gradient(to top, #ffe838, #fd57bf);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.top-nav.open{
    top: 0;
    border-radius: inherit;
}

.menu-toggler
{
    position: absolute;
    top: 5rem;
    right: 5rem;
    height: 4rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open{
    transform: rotate(-45deg);
}

.bar{
    background: linear-gradient(to right, #ffe838, #fd57bf);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half{
    width: 50%;
}

.bar.start{
    transform-origin: right;
    transition:  transform 650ms cubic-bezier(0.54,-0.81, 0.57,0.57 );
}

.open .bar.start{
    transform: rotate(-450deg) translateX(.8rem);

}


.bar.end{
    align-self: flex-end;
    transform-origin: left;
    transition:  transform 650ms cubic-bezier(0.54,-0.81, 0.57,0.57 );
}

.open .bar.end{
    transform: rotate(-450deg) translateX(-.8rem);

}

.landing-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;


}

.landing-text h1{
    font-size: 10.5rem;
    font-family: "Roboto", sans-serif;
   color: #fff;
   font-weight: 900;
  
}

.landing-text h1 span{
    
    font-family: "Roboto", sans-serif;
   color:red;
 
  
}


/* HEADER END */


/* ABOUT SECTION */

.about .container{
    display: flex;
    align-items: center;
    justify-content: center;
}

 .about-heading{
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1
{
    font-size: 10rem;
    opacity: .3;
}

.about-heading h6{
    font-size: 2rem;
    font-weight: 300;
}

.portfolio-img
{
    flex: 1;
    margin-right: 5rem;
}

.about-details{
    flex: 1;
}

.social-media{
    margin-top: 5rem;
}

.social-media .icon-link i{
    font-size: 5rem;
    transition: color 650ms;
}

.fa-facebook-square:hover{
    color:#4267b2;
}

.fa-twitter-square:hover{
    color:#38a1f3;
}

.fa-instagram:hover{
    color:#ea4c89;
}
/* ABOUT END */


/* SERVICES SECTION */
.my-skills{
    margin-top: 10rem;
   display: flex;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 2rem;
}

.skill h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}

.skill p{
   
    text-align: justify;
}
.icon-container{
    width: 10rem;
    height: 10rem;
    border: 3px solid #ffe838;
    background-color: #fd57bf;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}


.icon-container i{
   color: #ffe838;
   font-size: 5rem;
   margin: auto;
   transform: rotate(-45deg); 
}



/* SERVICES SECTION END */


/* PORTFOLIO SECTION */
.portfolio-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.portfolio-item:last-child{
    margin-bottom: 0;
}


.profile-img{
    
    margin: 0px 3rem 0px 0px;
   flex: 1; 
}
.profile-img img{
    
    max-width: 500px;
}

.portfolio-description
{
    flex: 1;

}

.portfolio-description h6{
    font-size: 3rem;
    font-weight: 300;
    
    margin: 1px 0;

}

.portfolio-description h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    opacity: 0.3;

}

.portfolio-description .cta
{
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;

}

.portfolio-description .cta:hover{
    color: #2f67cd;
}


/* PORTFOLIO END */


/* EXPERIENCE STARTS */
.timeline ul{
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);  
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 100;
    
}

.timeline h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}


/* EXPERIENCE ENDS */


/* CONTACT SECTION START */
.contact{
    background-color: #221e3f;
}

form{
    width: 70%;
    margin: 0 auto;
}

form label{
font-size: 1.5rem;
}

input,
select,
textarea{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    outline-color: #fd57bf;
}


input[type="submit"]
{
width: initial;
color: #eee;
background-color: #ffe838;
padding: 1rem 2rem;
border-radius: .8rem;
cursor: pointer;
transition: background-color 650ms;

}

input[type="submit"]:hover
{
color: #221e3f;
background-color: #ffe838;

}


.copyright
{
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up{
   position:absolute; 
   width: 5rem;
   height: 5rem;
   background-color: #eee;
   top: -2.5rem;
   right: 5rem;
   border-radius: 100%;
   display: flex;
   cursor: pointer;
   animation: pulse 2s infinite;
}

.up i{
    color: #161616;
    font-size: 2rem;
    margin: auto ;

}


.copyright p{
    font-size: 1.4rem;
}
/* CONTACT SECTION END */



/* ANIMATION */

@keyframes pulse {
    0%
    {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }
    70%
    {
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }
    100%
    {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}




/* MEDIA QUERIES */


@media screen and (max-width: 768px){
    body{
        background: url("../images/b11.jpg") no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1{
        font-size: 4rem;
    }

    .landing-text h1 span{
        
        font-family: "Roboto", sans-serif;
       color:red;
       font-weight: 900;
      
    }


    .my-skills{
        margin-top: 10rem;
        display: block;

        text-align: center;
    }
    
    .skill{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        }

    

   

    .nav-list{
        flex-direction: column;
    }

    li{
        margin: 2rem 0;
    }

    section{
        padding: 6rem 0;
    }


    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 8rem;
        text-align: center;
    }

    .section-heading h1{
        font-size: 3rem;
        
    }


    .about-details .nav-list{
        flex-direction: initial;
    }


    .about-details li{
        margin: 0 2rem;
    }


    .icon-container{
        width: 7rem;
        height: 7rem;
    }


    .icon-container li{
        font-size:  4rem;
    }


    .timeline ul{
        margin: 0 0 0 auto;
    }

}


@media screen and (max-width: 600px){
    .menu-toggler{
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1{
        font-size: 2.7rem;
    }

    .nav-link{
        font-size: 3.5rem;
        text-align: center;
    }

    .skill
    {
       
       width: 100%;
    }

    .about.container{
        flex-direction: column;
    }


    .profile-img{
        margin:  0 0 7rem 0;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin:  0 0 2rem 0;
        order: 1;
    }

    .portfolio-description{
        order: 2;
        margin: 0;
    }


    .timeline p{
        font-size: 1.6rem;
    }


    form{
        width: 100%;
    }


    .up{
        right: 2rem;
    }
}

.date{
    margin-bottom: 2rem;
}


#myProgress {
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
  }
  
  #myBar {
    width: 95%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }

  #myBar1 {
    width: 80%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }


  #myBar2 {
    width: 70%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }

  #myBar3 {
    width: 60%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }

  #myBar4 {
    width: 80%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
  }

  #particles-js {
    display:block;
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
    opacity:1;
    -webkit-transition:opacity .8s ease,-webkit-transform 1.4s ease;
    transition:opacity .8s ease, transform 1.4s ease;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:cover;
   }